<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="card">

    <h2>📝 Register</h2>

    <form method="POST" enctype="multipart/form-data">

        <input name="username" placeholder="Username" required>

        <input name="password" type="password" placeholder="Password" required>

        <input type="file" name="profile_pic">

        <button type="submit">Create Account</button>

    </form>

    <br>

    <a href="/login">Already have account?</a>

</div>

</body>
</html>